<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
  <p id="notice"><%= notice %></p>
  <h1>Reenviar instruções de confirmação</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12 conteudoInf">
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email, 'E-mail' %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Reenviar instruções de confirmação" %>
	  </div>
	<% end %>

	<%= render "users/shared/links" %>
</div>