<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoSup">
  <p>
    <strong>Equipamento:</strong>
    <%= @estoque_peca.equipamento.patrimonio %>
  </p>

  <p>
    <strong>Peça:</strong>
    <%= @estoque_peca.peca.nome + ' - ' + @estoque_peca.peca.caracteristica %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @estoque_peca.status %>
  </p>

  <p>
  	<strong>Quantidade:</strong>
  	<%= @estoque_peca.quantidade %>
  </p>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= link_to 'Editar', edit_estoque_peca_path(@estoque_peca), class:"btn btn-primary"%>
      <%= link_to 'Voltar', estoque_pecas_path, class:"btn btn-default"%>
    </div>
  </div>

  <h3>Comentários</h3>
  <% @comments.each do |comment| %>
    <div class="well">
      <%= comment.user.name %> - <%= comment.created_at %> - 
      <% if current_user.id == comment.user.id %>
        <%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Tem certeza?' } %>
      <% end %>
      <p>
      <%= comment.body %>
    </div>
  <% end %>
  <%= paginate @comments, window: 2 %>

  <%= render partial: "comments/form", locals: {commentable: @estoque_peca} %>
  <!-- <%= render partial: "comments/comments", locals: {commentable: @estoque_peca} %>-->
</div>