<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="row">
<%= form_with(model: servidor, local: true) do |form| %>
  <% if servidor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servidor.errors.count, "error") %> prohibited this servidor from being saved:</h2>

      <ul>
      <% servidor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :siape %><br>
      <%= form.text_field :siape, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :nome %><br>
      <%= form.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :telefone %><br>
      <%= form.text_field :telefone, class: "celular form-control" %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :email %><br>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :cargo %><br>
      <%= form.text_field :cargo, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :status, 'Status' %><br>
      <%= form.select :status, ['Ativo', 'Inativo'], {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= form.submit 'Salvar', class:"btn btn-primary"  %>
        <%= link_to 'Voltar', servidors_path, class:"btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
