<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h1>Servidores</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="form-group">
                  <%= form_tag servidors_path, :action => 'index', :method => 'get' do %>
                <%= 'Digite o siape para buscar' %>
                <br>
                <%= text_field_tag :search, params[:search], :class => "form-control", :style => "width: initial;" %>
                <%= submit_tag "Buscar", :siape => nil, :class => "btn btn-primary" %>
            <% end %>
    </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12 text-right">
      <div class="form-group">
        <br>
      <% if can? :create, Servidor %>
        <%= link_to 'Novo Servidor', new_servidor_path, class:"btn btn-default" %>
      <% end %>
  </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Siape</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Email</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>


            <% @servidors.each do |servidor| %>
              <tr>
                <td><%= servidor.siape %></td>
                <td><%= servidor.nome %></td>
                <td><%= servidor.telefone %></td>
                <td><%= servidor.email %></td>
                <td><%= servidor.status %></td>
                <td><%= link_to 'Detalhes', servidor, class: "btn-sm btn-info" %></td>
                <td><%= link_to 'Editar', edit_servidor_path(servidor), class: "btn-sm btn-default" %></td>
                <td><%= link_to 'Deletar', servidor, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @servidors, window: 2 %>
      </div>
    </div>
  </div>
</div>