<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="row">
<%= form_with(model: termo_compromisso, local: true) do |form| %>
  <% if termo_compromisso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(termo_compromisso.errors.count, "error") %> prohibited this termo_compromisso from being saved:</h2>

      <ul>
      <% termo_compromisso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :numTermo, 'Número do Termo' %>
      <%= form.text_field :numTermo, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-4 col-sm-4 col-xs-12 text-left">
        <div class="form-group" >
          <%= form.label :tipo, 'Tipo do Equipamento' %><br />
          <label class="radio-inline" onclick="notebook()"><%= form.radio_button :tipo, 'Notebook', id:'note', :checked => true %>Notebook</label>
          <label class="radio-inline" onclick="tablet()"><%= form.radio_button :tipo, 'Tablet', id:'tablet'%>Tablet</label>
        </div>
      </div>
    </div>
  </div>

  <div id="noteSelect" class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :equipamento_id, 'Patrimônio' %>
      <%= form.collection_select :equipamento_id, Equipamento.notebook_disponivel, :id, :patrimonio, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div id="tabletSelect" class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :equipamento_id, 'Patrimônio' %>
      <%= form.collection_select :equipamento_id, Equipamento.tablet_disponivel, :id, :patrimonio, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :servidor_id, 'Siape do Servidor' %>
      <%= form.collection_select :servidor_id, Servidor.where(status: 'Ativo'), :id, :nome_e_siape, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :dataVinculo, 'Data de Vinculo' %>
      <%= form.date_select :dataVinculo, :start_year => Date.current.year, :end_year => 2010 %>
    </div>
  </div>

<!--   <div class="col-md-6 col-sm-6 col-xs-12 text-left">
    <div class="form-group">
      <%= form.label :dataDevolucao, 'Data de Devolução' %>
      <%= form.date_select :dataDevolucao %>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= form.submit 'Salvar', class:"btn btn-primary" %>
        <%= link_to 'Voltar', "javascript:window.history.go(-1)", class:"btn btn-default" %>
      </div>
    </div>
  </div>
<% end %> 
  </div>

<script>
  $( document ).ready(function() {
    Htmlnote = $( "#noteSelect" );
    Htmltablet = $( "#tabletSelect" );
    $( "#tabletSelect" ).remove();
  });
  
  function notebook(){
    if($( "#note" ).prop("checked", true)){
      $( "#tabletSelect" ).before(Htmlnote);
      $( "#tabletSelect" ).remove();
    }
  }
  function tablet(){
    if($( "#tablet" ).prop("checked", true)){
      $( "#noteSelect" ).before(Htmltablet);
      $( "#noteSelect" ).remove();
    }
  }
</script>