<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h1>Termos de Compromisso</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="form-group">
        <%= form_tag termo_compromissos_path, :action => 'index', :method => 'get' do %>
                <%= 'Digite o número do termo para buscar' %>
                <br>
                <%= text_field_tag :search, params[:search], :class => "form-control", :style => "width: initial;"%>
                <%= submit_tag "Buscar", :numTermo => nil, :class => "btn btn-primary" %>
            <% end %>
            </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12 text-right">
      <% if can? :create, TermoCompromisso %>
       <div class="form-group">
        <br>
        <%= link_to 'Novo Termo', new_termo_compromisso_path, class:"btn btn-default" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <caption>Termos</caption>
            <tr>
              <th>Número</th>
              <th>Equipamento</th>
              <th>Siape</th>
              <th>Nome</th>
              <!-- <th>Data de Vínculo</th> -->
              <!-- <th>Data de Devolução</th> -->
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          

            <% @termo_compromissos.each do |termo| %>
              <tr>
                <td><%= termo.numTermo %></td>
                <td><%= termo.equipamento.patrimonio %></td>
                <td><%= termo.servidor.siape %></td>
                <td><%= termo.servidor.nome %></td>
                <!-- <td><%= termo.dataVinculo %></td> -->
                <!-- <td><%= termo.dataDevolucao %></td> -->
                <td><%= termo.status %></td>
                <td><%= link_to 'Devolver', termo, class: "btn-sm btn-warning" %></td>
                <td><%= link_to 'Detalhes', termo, class: "btn-sm btn-info" %></td>
                <td><%= link_to 'Editar', edit_termo_compromisso_path(termo), class: "btn-sm btn-default" %></td>
                <td><%= link_to 'Deletar', termo, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @termo_compromissos, window: 2 %>
      </div>
    </div>
  </div>
</div>