<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoSup">

	<p>
  		<strong>Termo de Compromisso</strong>
   		<%= @termo_compromisso.numTermo %>
  	</p>

  	<p>
  		<strong>Equipamento</strong>
      <br>
   		Patrimônio: <%= link_to @termo_compromisso.equipamento.patrimonio, equipamento_path("#{@termo_compromisso.equipamento_id}") %>
  	</p>

  	<p>
  		<strong>Servidor</strong>
  		<br>
  		Siape: <%= link_to @termo_compromisso.servidor.siape, servidor_path("#{@termo_compromisso.servidor_id}") %>
  		<br>
   		Nome: <%= @termo_compromisso.servidor.nome %>
  	</p>

	<p>
	  <strong>Data de vínculo:</strong>
	  <%= @termo_compromisso.dataVinculo %>
	</p>

<!-- 	<p>
	  <strong>Data de devolução:</strong>
	  <%= @termo_compromisso.dataDevolucao %>
	</p> -->

  <p>
    <strong>Status:</strong>
    <%= @termo_compromisso.status %>
  </p>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
      	<%= link_to 'Editar', edit_termo_compromisso_path(@termo_compromisso), class:"btn btn-primary"%>
        <%= link_to 'Imprimir', export_termo_compromisso_path(@termo_compromisso), class:"btn btn-primary"%>
	  		<%= link_to 'Voltar', "javascript:window.history.go(-1)", class:"btn btn-default" %>
		</div>
  </div>

  <h3>Comentários</h3>
  <% @comments.each do |comment| %>
    <div class="well">
      <%= comment.user.name %> - <%= comment.created_at %> - 
      <% if current_user.id == comment.user.id %>
        <%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Tem certeza?' } %>
      <% end %>
      <p>
      <%= comment.body %>
    </div>
  <% end %>
  <%= paginate @comments, window: 2 %>

  <%= render partial: "comments/form", locals: {commentable: @termo_compromisso} %>
  <!-- <%= render partial: "comments/comments", locals: {commentable: @termo_compromisso} %>-->
</div>
