<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h1>Equipamentos</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="row">
    <div class="col-md-6 col-sm-7 col-xs-12">
      <div class="form-group">
        <%= form_tag equipamentos_path, :action => 'index', :method => 'get' do %>
        <%= 'Digite o patrimônio para buscar' %>
        <br>
        <%= text_field_tag :search, params[:search], :class => "form-control", :style => "width: initial;" %>
        <%= submit_tag "Buscar", :patrimonio => nil, :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 col-sm-5 col-xs-12 text-right">
      <% if can? :create, Equipamento %>
      <div class="form-group">
        <br>
        <%= link_to 'Novo Equipamento', new_equipamento_path, class:"btn btn-default" %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Patrimônio</th>
                <th>Serial</th>
                <th>Data de aquisiçao</th>
                <th>Status</th>
                <th>Modelo</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @equipamentos.each do |equipamento| %>
              <tr>
                <td>
                  <%= link_to "#{equipamento.patrimonio}", equipamento %>
                </td>
                <td>
                  <%= equipamento.serial %>
                </td>
                <td>
                  <%= equipamento.dataAquisicao %>
                </td>
                <td>
                  <%= equipamento.status %>
                </td>
                <td>
                  <%= link_to equipamento.modelo.marca, modelo_path("#{equipamento.modelo_id}") %>
                </td>
                <td>
                  <%= link_to 'Manutenções', equipamento_manutencaos_path(equipamento), class: "btn-sm btn-warning" %>
                </td>
                <td>
                  <%= link_to 'Detalhes', equipamento, class: "btn-sm btn-info" %>
                </td>
                <td>
                  <%= link_to 'Editar', edit_equipamento_path(equipamento), class: "btn-sm btn-default" %>
                </td>
                <td>
                  <%= link_to 'Deletar', equipamento, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @equipamentos, window: 2 %>
        </div>
      </div>
    </div>
  </div>