<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h1>Ocorrências</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1 conteudoInf">
  <div class="col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-2 col-xs-12 text-right">
      <% if can? :create, Ocorrencium %>
        <%= link_to 'Registrar Ocorrências', new_ocorrencium_path, class:"btn btn-primary" %>
      <% end %>
    </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <caption>Ocorrencias</caption>
            <tr>
              <th>Termo de Compromisso</th>
              <th>Tipo</th>
              <th>Data da ocorrência</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @ocorrencia.each do |ocorrencium| %>
              <tr>
                <td><%= link_to ocorrencium.termo_compromisso.numTermo, termo_compromisso_path("#{ocorrencium.termo_compromisso_id}") %></td>
                <td><%= ocorrencium.tipo %></td>
                <td><%= ocorrencium.dataOcorrencia %></td>
                <td><%= link_to 'Detalhes', ocorrencium, class: "btn-sm btn-info" %></td>
                <td><%= link_to 'Editar', edit_ocorrencium_path(ocorrencium), class: "btn-sm btn-default" %></td>
                <td><%= link_to 'Deletar', ocorrencium, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @ocorrencia, window: 2 %>
      </div>
    </div>
  </div>
</div>