<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
  <p id="notice"><%= notice %></p>
  <h1>Modelos</h1>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12 conteudoInf">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
      <%= link_to 'Novo Modelo', new_modelo_path, class:"btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Marca</th>
              <th>Valor</th>
              <th>Tipo</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <%= form_tag modelos_path, :action => 'index', :method => 'get' do %>
              <p>
                <%= 'Digite a marca para buscar' %>
                <br>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Buscar", :marca => nil %>
              </p>
            <% end %>

            <% @modelos.each do |modelo| %>
              <tr>
                <!-- <td><%= modelo.id %></td> -->
                <td><%= modelo.marca %></td>
                <td><%= modelo.valor %></td>
                <td><%= modelo.tipo %></td>
                <td><%= link_to 'Detalhes', modelo, class: "btn-sm btn-info" %></td>
                <td><%= link_to 'Editar', edit_modelo_path(modelo), class: "btn-sm btn-default" %></td>
                <td><%= link_to 'Excluir', modelo, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @modelos, window: 2 %>
      </div>
    </div>
  </div>
</div>
