<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12 conteudoInf">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Marca:</strong>
    <%= @modelo.marca %>
  </p>

  <p>
    <strong>Configuracao:</strong>
    <%= @modelo.configuracao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @modelo.valor %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @modelo.tipo %>
  </p>

  <p>
    <strong>Equipamentos (patrimônio):</strong>
    <% if @equipamentos.empty? %>
      <p>Nenhum equipamento vinculado ao modelo</p>
    <% else %>
      <% @equipamentos.each do |equipamento| %>
        <br><%= link_to equipamento.patrimonio, equipamento_path("#{equipamento.id}") %>
      <% end %>
    <% end %>
    <%= paginate @equipamentos, window: 2 %>
  </p>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= link_to 'Editar', edit_modelo_path(@modelo), class:"btn btn-primary"%>
      <%= link_to 'Voltar', modelos_path, class:"btn btn-default"%>
    </div>
  </div>

  <h3>Comentários</h3>
  <% @comments.each do |comment| %>
    <div class="well">
      <%= comment.user.name %> - <%= comment.created_at %> - 
      <% if current_user.id == comment.user.id %>
        <%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Tem certeza?' } %>
      <% end %>
      <p>
      <%= comment.body %>
    </div>
  <% end %>
  <%= paginate @comments, window: 2 %>

  <%= render partial: "comments/form", locals: {commentable: @modelo} %>
  <!-- <%= render partial: "comments/comments", locals: {commentable: @modelo} %>-->
</div>