<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
  <div class="text-center">
    <h1 style="margin-top: -45px;">Editar <%= resource_name.to_s.humanize %></h2>
  </div>
</div>

<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
  <div id="login-form" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12" style="padding: 1%;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name, 'Nome' %><br />
      <%= f.email_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'E-mail' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, 'Senha' %> <i>(deixe em branco se você não quiser mudá-lo)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em>A senha precisa conter no mínimo <%= @minimum_password_length %> caracteres</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmar Senha' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, 'Senha Atual' %> <i>(Precisamos da sua senha atual)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <div class="text-center">
      <%= f.submit "Atualizar", class:"btn btn-primary" %>
    </div>
  <% end %>
  <%= button_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Você está certo disso?" }, method: :delete %>

  <%= link_to "Voltar", :back %>
</div>