<div class="col-md-4 col-md-offset-4 col-sm-9 col-sm-offset-2 col-xs-12">
  <div class="text-center">
  <h1>Registrar-se</h2>
</div>
</div>

<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
    <div id="login-form" class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-1 col-xs-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :name, 'Nome' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'E-mail' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Senha' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confimar Senha' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="text-center">
          <%= f.submit "Registrar-se", class:"btn btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>